@*Displays the Statistics page*@
@model IEnumerable<Mvc.Models.SchoolViewModels.CourseGroup>

@{
    ViewData["Title"] = "Statistics";
}

<h2>Course Registration Statistics</h2>

<table>
    <tr>
        <th>
            Course
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
